html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    background: url('/images/A1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff; /* Eğer arka plan koyuysa okunaklı olsun diye */
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body.forum-page {
    background: url('/images/forum-bg.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #e0f7fa; /* Yumuşak açık mavi alt ton */
}